
#anim1 {
    background-image: url(../img/crap_1.svg);
    background-size: 1000px;
    z-index: 350;
}
#anim2 {
    background-image: url(../img/crap_2.svg);
    background-size: 100%;
    z-index: 355;
}
#anim3 {
    background-image: url(../img/crap_3.svg);
    background-size: 50%;
    z-index: 360;
}
#anim4 {
    background-image: url(../img/crap_4.svg);
    background-size: 30%;
    z-index: 365;
}
#anim5 {
    background-image: url(../img/crap_5.svg);
    background-size: 100%;
    opacity: 0;
    z-index: 370;
}
