<!-- rv0.0.1 -->
<!-- NE PAS MODIFIER LES TAGS ng- et var -->

<ons-navigator var="onsNavigator">
    <ons-page ng-controller="GameJoinController as gameJoin">

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="onsSlidingMenu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">game-join</div>
        </ons-toolbar>

        <div id="main">

            <div class="block">
                User: {{gameJoin.clientUser.pseudo}}
            </div>

            <div class="block">
                <input type="text" placeholder="" class="text-input" ng-model="gameJoin.gameId" ng-change="gameJoin.onChangeGameId()">
            </div>

            <div class="block">
                <ons-button var="joinButton" modifier="large" ng-click="gameJoin.onClickJoinButton()">REJOINDRE</ons-button>    
            </div>
        </div>
    </ons-page>
</ons-navigator>
