<!-- rv0.0.1 -->
<!-- NE PAS MODIFIER LES TAGS ng- et var -->

<ons-navigator var="onsNavigator">
    <ons-page ng-controller="GameQuestionController as gameQuestion">

        <ons-toolbar>
            <div class="center">game-question</div>
        </ons-toolbar>

        <div id="main">

            <div class="block">
                User: {{gameQuestion.userPseudo}}
                <br>
                good answer : {{gameQuestion.goodAnswerIndex}}
                <br>
                Points : {{gameQuestion.points}}
            </div>

            <div class="block">
                Quiz: {{gameQuestion.quizName}}
            </div>

            <div class="block" ng-show="gameQuestion.showTimer">
                Countdown: {{gameQuestion.time}}
            </div>

            <div class="block">
                Question: {{gameQuestion.questionNumber()}}
            </div>

            <div class="block">
                {{gameQuestion.question.text}}
            </div>

            <div id="answers" ng-show="gameQuestion.showAnswers">

            <div class="block">
                <ons-button var="answer1Button" modifier="large" ng-click="gameQuestion.onClickAnswerButton(1)" ng-class="gameQuestion.onClassAnswerButton(1)">{{gameQuestion.question.answer[0].text}}</ons-button>
            </div>

            <div class="block">
                <ons-button var="answer2Button" modifier="large" ng-click="gameQuestion.onClickAnswerButton(2)" ng-class="gameQuestion.onClassAnswerButton(2)">{{gameQuestion.question.answer[1].text}}</ons-button>
            </div>

            <div class="block">
                <ons-button var="answer3Button" modifier="large" ng-click="gameQuestion.onClickAnswerButton(3)" ng-class="gameQuestion.onClassAnswerButton(3)">{{gameQuestion.question.answer[2].text}}</ons-button>
            </div>

            <div class="block">
                <ons-button var="answer4Button" modifier="large" ng-click="gameQuestion.onClickAnswerButton(4)" ng-class="gameQuestion.onClassAnswerButton(4)">{{gameQuestion.question.answer[3].text}}</ons-button>
            </div>

            </div>

        </div>
    </ons-page>
</ons-navigator>
