<!-- rv0.0.1 -->

<ons-navigator var="onsNavigator">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="onsSlidingMenu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">game-players</div>
        </ons-toolbar>

        <div id="main" ng-controller="GamePlayersController as gamePlayers">
            <div class="block">
                Game: {{gamePlayers.gameId}}
            </div>
            <div class="block">
                Players:
                <ul>
                    <li ng-repeat="player in gamePlayers.players track by player.socketId">
                        {{player.pseudo}}
                    </li>
                </ul>
            </div>
            <div class="block">
                <ons-button modifier="large" ng-click="gamePlayers.onClickStartButton()">COMMENCER</ons-button>
            </div>
        </div>
    </ons-page>
</ons-navigator>
