<ons-navigator var="onsNavigator">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="onsSlidingMenu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">LIVE QUIZZ</div>
        </ons-toolbar>

        <div id="main" ng-controller="GameChooseController as gameChoose">
            <div class="block">
                <ons-button modifier="large" ng-click="gameChoose.onClickCreateButton()">LANCER UNE PARTIE</ons-button>
            </div>
            <div class="block">
                <ons-button modifier="large" ng-click="gameChoose.onClickJoinButton()">REJOINDRE UNE PARTIE</ons-button>
            </div>
        </div>
    </ons-page>
</ons-navigator>
