#main {
    width: 80%;
    margin: 0 auto;
}

.block {
    margin: 20px 0;
}

input[type=text] {
  width: 100%;
}

.title {
    text-align: center;
    font-size: 2em;
}

/* Les classes ci-dessous masquent le spinner (boutons d'incrémentation) des champs de type number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
